


<!-- <form [formGroup]="form">
  <kendo-combobox
   [data]="listItems"
   kendoDropDownFilter
   formControlName="dataName" 
   (valueChange)="setSelectedItem($event)"
   (keydown.enter)="PressEnter($event)"
   [allowCustom]="true" >
  </kendo-combobox>
</form> -->
<br>
<br>


<!-- <div class="form-group">
  <button class="btn btn-info"> Update Favrite Search (Not Work)</button>
  <button class="btn btn-info"> Use Favrite Search Field (Not Work)</button>
</div> -->
form :- {{ this.form.value | json }}


<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <dynamic-form [form]="form" [dataSource]="ElementDataList" [ServiceSource]="ServiceList"></dynamic-form> 
  <!-- <button type="submit" class="btn btn-primary" ng-class="" [disabled]="!form.valid"> submit </button> -->
</form>
