<ng-container [formGroupName]="GroupName" *ngIf="element && element.visible">

  <div class="panel-title">
    <label class="h6" [attr.for]="element.Key">
      {{ element.Label }}
      <span *ngIf="HasRequiredValidation()" style="color: red"> &nbsp; *</span>
    </label>
  </div>

  <kendo-combobox
  #kendoComboBoxInstance
  [ngStyle]="element.style"
  [data]="Service[element.dataSource]"
  [formControlName]="element.Key" 
  class="form-control"
  [textField]="'value'"
  [valueField]="'key'"
  [valuePrimitive]="true"
  (keydown.enter)="pressEnter()"
  (click)="openDialog()"
  [allowCustom]="allowCustom" >
 </kendo-combobox>


  {{ dropdown }}
</ng-container>



