<ng-container [formGroupName]="GroupName">
  <div class="panel-title">
    <label  class="h6" [attr.for]="element.Key">
      {{ element.Label }}
      <span *ngIf="HasRequiredValidation()" style="color: red"> &nbsp; *</span>
    </label>
  </div>

  <div class="form-row" [formGroupName]="element.Key" *ngIf="element.nestedControls">
    <div class="col" *ngIf="element.nestedControls['Day']">
      <label for="inlineFormInput">Day</label>
      <input type="text" (keypress)="keybeard($event)" (input)="SetmaxDay($event.target.value)" [formControlName]="element.nestedControls['Day']" class="form-control" id="inlineFormInput" placeholder="Day">
    </div>
    <div class="col" *ngIf="element.nestedControls['Month']">
      <label for="inlineFormInputGroup">Month</label>
      <input type="text" (keypress)="keybeard($event)" (input)="SetmaxMonth($event.target.value)" [formControlName]="element.nestedControls['Month']" class="form-control" id="inlineFormInputGroup" placeholder="Month">
    </div>
    <div class="col" *ngIf="element.nestedControls['Year']">
      <label for="inlineFormInput">Year</label>
      <input type="text" (keypress)="keybeard($event)"  (input)="SetmaxYear($event.target.value)" [formControlName]="element.nestedControls['Year']" class="form-control" id="inlineFormInput" placeholder="Year">
    </div>
  </div>
</ng-container>
