<form [formGroup]="form">
  <div *ngFor="let MainPanel of dataSource; let i=index">
    <div *ngIf="MainPanel">
      <div class="card">
        <div class="card-header">{{MainPanel.title}}</div>
        <div class="card-body">
          <div class="row">
            <ng-template ngFor let-j="index" let-dyncamicElement [ngForOf]="MainPanel.elementList | orderBy: 'index': MainPanel.isSorted">
              <div class="col-sm-4" [hidden]="!dyncamicElement.visible">
                <dynamicElement [form]="form" [Service]="getService(MainPanel.Service)"
                  [ShowCheck]="showcheckbox" [elements]="dyncamicElement" [DataBind]="MainObject[MainPanel.ObjectMap][dyncamicElement.Key]"
                  (DataBindChanged)="MainObject[MainPanel.ObjectMap][dyncamicElement.Key] = $event"></dynamicElement>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- For the SubPanel -->
        <div *ngIf="MainPanel.panel" class="card">
          <div class="card-header bg-dark text-white">{{MainPanel.panel.title}} </div>
          <div class="card-body">
            <div class="row">
            <ng-template ngFor let-j="index" let-dyncamicElement [ngForOf]="MainPanel.panel.elementList | orderBy: 'index': MainPanel.panel.isSorted">
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <dynamicElement [form]="form" [Service]="getService(MainPanel.Service)" [ShowCheck]="showcheckbox"
                      [(DataBind)]="MainObject[MainPanel.ObjectMap][MainPanel.panel.ObjectMap][dyncamicElement.Key]"
                      (DataBindChanged)="MainObject[MainPanel.ObjectMap][MainPanel.panel.ObjectMap][dyncamicElement.Key] = $event"
                      [elements]="dyncamicElement"></dynamicElement>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- End of SubPanel-->
      </div>
    </div>

  </div>
</form>
<br />
