<ng-container [formGroupName]="GroupName" *ngIf="element && element.visible">

  <div class="panel-title">
    <label class="h6" [attr.for]="element.Key">
      {{ element.Label }}
      <span *ngIf="HasRequiredValidation()" style="color: red"> &nbsp; *</span>
    </label>
  </div>


  <!-- Radio Button-->
  <div class="d-inline-block">
    <ng-template let-j="index" let-option ngFor [ngForOf]="Service[element.dataSource]">
      <input type="radio" [ngStyle]="element.style" [id]="element.Key + j" [formControlName]="element.Key" [value]="option.key" />
      {{ option.value }}
    </ng-template>
  </div>
</ng-container>
