<form [formGroup]="form">
  <kendo-panelbar>
    <kendo-panelbar-item *ngFor="let MainPanel of dataSource; let i=index" [title]="MainPanel.title" style="color: black"
      [expanded]="i == 0">
      <div class="contianer">
        <ng-template [ngIf]="MainPanel" kendoPanelBarContent>
          <div class="row" style="padding: 3% 1% 3% 1%;">
            <ng-template ngFor let-j="index" let-dyncamicElement [ngForOf]="MainPanel.elementList | orderBy: 'index': MainPanel.applySort">
              <div class="col-sm-{{ dyncamicElement.position }}" [hidden]="!dyncamicElement.visible">
                <dynamicElement [form]="form" [Service]="getService(MainPanel.Service)" [GroupName]="MainPanel.ObjectMap"
                  [elements]="dyncamicElement"></dynamicElement>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </kendo-panelbar-item>
  </kendo-panelbar>
</form>
