.k-picker-wrap:hover {
  border-bottom-color: black
}


.k-widget .k-timepicker:hover {
  border-bottom-color: black;
  width: 0%;
}


.error {
  z-index: initial;
  position: absolute;
  left: 22mm;
  padding: .3em 1em;
  background-color: #f66;
  border: 1px solid red;
  border-radius: 5px;
  color: #fff;
  max-width: 300px;
  top: -30px;
  font-size: 13px;
}

.error::after,
.error::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 15px;
  border: solid transparent;
}

.error::after {
  margin-left: 1px;
  border-top-color: #f66;
  border-width: 7px;
}

.error::before {
  border-top-color: #f00;
  border-width: 8px;
}

.form-control.ng-valid,
.form-control.ng-valid.required {
  border-left: 5px solid #039603;
}

.form-control.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
