<ng-template [ngIf]="elements">
  <div class="form-inline" [formGroup]="form">

    <div [ngSwitch]="true">
      <div class="panel-title">
        <label [attr.for]="elements.Key" *ngSwitchCase="elements.controlType !== 'datepicker'"> {{ elements.Label }} </label>
      </div>
      <input class="form-control" type="text" *ngSwitchCase="elements.controlType === 'textbox'" [id]="elements.Key" [formControlName]="elements.Key">

      <select class="form-control" *ngSwitchCase="elements.controlType === 'dropdown'" [id]="elements.Key" [formControlName]="elements.Key">
        <option *ngFor="let option of elements.options" [value]="option.key">{{ option.value }}</option>
      </select>

      <mat-form-field *ngSwitchCase="elements.controlType === 'datepicker'">
        <input matInput [matDatepicker]="picker" [placeholder]="elements.Label" [id]="elements.Key" [formControlName]="elements.Key">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <input type="checkbox" [formControlName]="elements.id" *ngIf="ShowCheck" [(ngModel)]="elements.visible" />
    </div>
  </div>
</ng-template>
